img {
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

.center {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 13px;
}

p {
  font-size: 12px;
}

.red {
  background-color: #EB4E45;
  height: 17px;
  margin: 0 auto;
  margin-bottom: 10px;
  color: #FFFFFF;
  line-height: 17px;
}

.point {
  background-color: #ECFCFB;
  padding: 0 20px;
}
.point .inner {
  max-width: 840px;
  margin: 0 auto;
  text-align: left;
}
.point .inner .point-icon {
  margin-top: -40px;
  margin-bottom: 4px;
}
@media screen and (max-width: 767px) {
  .point .inner .point-icon {
    width: 80px;
  }
}
.point .inner .point-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .point .inner .point-flex {
    flex-flow: column;
    align-items: flex-start;
    padding-bottom: 30px;
  }
}
.point .inner .point-flex .text-box {
  width: 62%;
  margin-right: 6%;
}
@media screen and (max-width: 767px) {
  .point .inner .point-flex .text-box {
    margin-right: 0;
    width: 100%;
  }
}
.point .inner .point-flex .text-box .title {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 21px;
}
@media screen and (max-width: 767px) {
  .point .inner .point-flex .text-box .title {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
.point .inner .point-flex .text-box .text {
  line-height: 25px;
}
@media screen and (max-width: 767px) {
  .point .inner .point-flex .text-box .text {
    font-size: 14px;
    margin-bottom: 15px;
  }
}
.point .inner .point-flex .text-box .text .mark {
  background: linear-gradient(transparent 0%, #f6ff5f 0%);
}
.point .inner .point-flex .point-img {
  width: 32%;
  max-width: 256px;
}
@media screen and (max-width: 767px) {
  .point .inner .point-flex .point-img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

header .mv {
  position: relative;
  margin-bottom: 90px;
}
@media screen and (max-width: 767px) {
  header .mv {
    margin-bottom: 72px;
  }
}
header .mv .mv-p {
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  header .mv .mv-p {
    height: 500px;
  }
}
header .mv .logo {
  position: absolute;
  top: 26px;
  left: 44px;
}
@media screen and (max-width: 767px) {
  header .mv .logo {
    left: 20px;
  }
}
header .mv .description {
  position: absolute;
  top: 132px;
  left: 44px;
}
@media screen and (max-width: 767px) {
  header .mv .description {
    width: 210px;
    top: 80px;
    left: 20px;
  }
}
header .mv .box-button {
  position: absolute;
  top: 352px;
  left: 44px;
}
@media screen and (max-width: 767px) {
  header .mv .box-button {
    width: 200px;
    top: 214px;
    left: 20px;
  }
}
header .mv .mark {
  position: absolute;
  top: 536px;
  right: 28px;
}
@media screen and (max-width: 767px) {
  header .mv .mark {
    top: 370px;
    width: 180px;
  }
}
header .mv .side-button {
  position: absolute;
  top: 48px;
  right: 0px;
  width: 48px;
  height: 210px;
  background-color: #45CCC4;
  border-radius: 10px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .mv .side-button img {
  height: 60%;
}
@media screen and (max-width: 767px) {
  header .mv .side-button {
    display: none;
  }
}

main .course img {
  display: block;
}
main .course .course-title {
  padding: 0 40px;
  text-align: center;
  margin: 0 auto 180px;
  max-width: 751px;
}
@media screen and (max-width: 767px) {
  main .course .course-title {
    padding: 0 20px;
  }
}
main .course .green-box {
  background-color: rgba(69, 204, 196, 0.5);
  padding-bottom: 140px;
}
@media screen and (max-width: 767px) {
  main .course .green-box {
    padding-bottom: 80px;
  }
}
main .course .course-flex {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 60px;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  main .course .course-flex {
    flex-flow: column;
    align-items: center;
    margin-bottom: 44px;
  }
}
@media screen and (max-width: 767px) {
  main .course .course-flex .course-item {
    margin: 0 40px;
  }
}
main .course .course-flex .course-item:nth-of-type(1) {
  padding-right: 80px;
}
@media screen and (max-width: 767px) {
  main .course .course-flex .course-item:nth-of-type(1) {
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  main .course .course-flex .course-item:nth-child(2) .title {
    margin-top: 50px;
  }
}
main .course .course-flex .course-item .title {
  margin-top: -130px;
}
main .course .course-flex .course-item .title::after {
  content: "oooo";
  width: 1px;
  height: 80px;
  margin: 0 auto;
  background-color: black;
  position: absolute;
  bottom: -58px;
  left: 0;
  right: 0;
}
main .course .course-flex .course-item .circle {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin: 40px auto 20px;
}
main .course .course-flex .course-item .text {
  font-weight: bold;
  line-height: 1.8;
}
main .course .course-pr {
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  main .course .course-pr {
    padding: 0 20px;
  }
}
main .course .course-detail {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  main .course .course-detail {
    padding: 0 20px;
  }
}
main .feature-index {
  background-color: #E9EFF1;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
main .feature-index .feature-icon {
  margin: -80px auto 26px;
}
@media screen and (max-width: 767px) {
  main .feature-index .feature-icon {
    width: 200px;
    margin-top: -50px;
    margin-bottom: 48px;
  }
}
main .feature-index .text {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 50px;
  letter-spacing: 1.92px;
}
@media screen and (max-width: 767px) {
  main .feature-index .text {
    font-size: 19px;
  }
}
main .feature-index li {
  padding-bottom: 30px;
}
@media screen and (max-width: 767px) {
  main .feature-index li {
    padding: 0 20px 10px;
  }
}
main .feature {
  margin-bottom: 50px;
}
main .feature .feature-title {
  margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
  main .feature .feature-title {
    padding: 0 20px;
  }
}
main .feature .feature-text {
  margin-bottom: 40px;
  line-height: 25px;
}
@media screen and (max-width: 767px) {
  main .feature .feature-text {
    padding: 0 20px;
    text-align: left;
  }
}
main .feature .item {
  max-width: 380px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  main .feature .item {
    padding: 0 20px;
  }
}
main .feature .item .feature1-pic {
  margin-bottom: 10px;
}
main .feature .item .description {
  margin-bottom: 40px;
  line-height: 20px;
  text-align: left;
}
main .feature .course-flex {
  display: flex;
  justify-content: center;
  max-width: 840px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  main .feature .course-flex {
    flex-flow: column;
  }
}
main .feature .course-flex .description {
  padding: 0 20px;
}
main .feature .other {
  text-decoration: underline;
  font-size: 14px;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  main .feature .other {
    margin-bottom: 40px;
  }
}
main .feature .other a {
  position: relative;
}
main .feature .other a::after {
  content: "";
  width: 7px;
  height: 7px;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  transform: rotate(45deg);
  position: absolute;
  right: -16px;
  top: 6px;
}
main .feature .course-intro {
  background-color: #ECFCFB;
  padding: 40px 20px;
  margin-bottom: 50px;
}
main .feature .course-intro .detail-box {
  position: relative;
}
main .feature .course-intro .detail-box .curriculum-img {
  width: 115px;
  position: absolute;
  right: 25%;
  bottom: -20px;
}
main .feature .intro-title {
  max-width: 840px;
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-weight: bold;
  margin: 0 auto 25px;
  font-size: 14px;
}
main .feature-2 .img {
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767px) {
  main .feature-2 .img {
    height: 400px;
  }
}
main .feature-3 .feature-title {
  margin-bottom: 50px;
}
main .feature-3 .coach {
  padding: 0 20px;
}
main .feature-3 .coach .intro-title {
  margin: 0 auto 25px;
}
main .feature-3 .coach .coach-flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 840px;
  margin: 0 auto;
  justify-content: space-between;
}
main .feature-3 .coach .coach-flex .coach-item {
  width: 31%;
  background-color: #F5F5F5;
  margin-right: 3%;
  margin-bottom: 3%;
}
@media screen and (max-width: 767px) {
  main .feature-3 .coach .coach-flex .coach-item {
    width: 48%;
    margin-right: 0;
    margin-bottom: 4%;
  }
}
main .feature-3 .coach .coach-flex .coach-item:nth-child(3n) {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  main .feature-3 .coach .coach-flex .coach-item:nth-last-child(1) {
    margin-bottom: 40px;
  }
}
main .feature-3 .coach .coach-flex .coach-item .inner {
  padding: 20px;
}
main .feature-3 .coach .coach-flex .coach-item .inner .subject {
  width: 40px;
  height: 16px;
  background-color: #333333;
  color: #FFFFFF;
  line-height: 16px;
  margin-bottom: 10px;
}
main .feature-3 .coach .coach-flex .coach-item .inner .coach-name {
  margin-bottom: 10px;
  text-align: left;
}
main .feature-3 .coach .coach-flex .coach-item .inner .coach-comment {
  text-align: left;
  line-height: 22px;
}
main .feature-4 .success {
  padding: 0 20px;
}
main .feature-4 .diagram {
  margin-bottom: 60px;
  max-width: 840px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  main .feature-4 .diagram {
    width: 100%;
    margin-bottom: 40px;
  }
}
main .feature-4 .voice {
  background-image: url(img/bgi.svg);
  max-width: 840px;
  margin: 0 auto 30px;
}
@media screen and (max-width: 767px) {
  main .feature-4 .voice {
    margin-bottom: 20px;
  }
}
main .feature-4 .voice .inner {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  main .feature-4 .voice .inner {
    flex-flow: column;
    text-align: left;
  }
}
main .feature-4 .voice .inner .icon {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-right: 15%;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  main .feature-4 .voice .inner .icon {
    margin-bottom: 15px;
    margin-right: 0;
  }
}
main .feature-4 .voice .inner .content {
  width: 46%;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  main .feature-4 .voice .inner .content {
    text-align: center;
    width: 100%;
  }
}
main .feature-4 .voice .inner .content .title {
  margin-bottom: 30px;
  font-weight: bold;
}
main .feature-4 .voice .inner .content .title span {
  background-color: #FFFFFF;
  padding: 5px 15px;
}
@media screen and (max-width: 767px) {
  main .feature-4 .voice .inner .content .title {
    margin-bottom: 15px;
  }
}
main .feature-4 .voice .inner .content .student-name {
  margin-bottom: 25px;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  main .feature-4 .voice .inner .content .student-name {
    margin-bottom: 15px;
  }
}
main .feature-4 .voice .inner .content .student-comment {
  line-height: 26px;
  text-align: left;
}

.feature-5 .follow {
  display: flex;
  justify-content: space-between;
  max-width: 840px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.feature-5 .follow .item {
  width: 31%;
  background-color: #ECFCFB;
  padding: 10px;
}
.feature-5 .follow .item .inner {
  height: 160px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-5 .follow .item .inner p {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}
.feature-5 .point {
  margin-bottom: 40px;
}/*# sourceMappingURL=style.css.map */